<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <module type="OnlineBalanceBoardScale.proxy, OnlineBalanceBoardScale" />
    </defaultProxy>
  </system.net>


  <appSettings>
    <add key="ProxyAddress" value="http://proxyarg:80/" />
    <add key="ProxyUser" value="y154951" />
    <add key="ProxyPass" value="Semana59" />
    <add key="ProxyDomain" value="ypf" />
  </appSettings>

</configuration>

